.button {
    width: 500px;
    margin-bottom: 18px;
    font-size: 30px;
    -unity-font-definition: url("project://database/Assets/Fonts/Dune_Rise.ttf?fileID=12800000&guid=bf2adba735fb750428b0905e61465f0d&type=3#Dune_Rise");
    -unity-font-style: bold;
    text-shadow: 2.2px 1.7px 0 rgb(1, 255, 240);
    color: rgb(1, 0, 255);
    background-color: rgb(186, 148, 255);
}
